<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SofiAssetReg.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <SofiAssetReg.Properties.Settings>
            <setting name="Server" serializeAs="String">
                <value>http://54.206.34.58:82</value>
            </setting>
            <setting name="ApiKey" serializeAs="String">
                <value>Ytm1VIhM2ai7fewNDR0jFYeZML2wPQCvYadotN99FsFMkopcpACMTF8s+735ByUTltnrSm+Jvkg2Ek67NoxFz4Lpu6W1ObL4/zVIY81lKwzkKywtgHISXA==</value>
            </setting>
            <setting name="LabelTemplate" serializeAs="String">
                <value>.\Labels\SofiLabelV3.prn</value>
            </setting>
            <setting name="PrinterName" serializeAs="String">
                <value>ZDesigner GK420t</value>
            </setting>
            <setting name="SerialFormat" serializeAs="String">
                <value>{{SERIALPREFIX}}/{{MAC2}}</value>
            </setting>
        </SofiAssetReg.Properties.Settings>
    </userSettings>
</configuration>